{
  "openapi": "3.1.0",
  "info": {
    "title": "Easypay Payments API",
    "description": "<a href='https://www.easypay.pt/en/legal-terms-and-conditions/' class='item'>Terms conditions and legal terms</a><br><a href='https://www.easypay.pt/en/privacy-and-data-protection-policy/' class='item'>Privacy Policy</a>",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "contact": {
      "name": "Easypay Documentation",
      "email": "tec@easypay.pt"
    },
    "version": "2.0",
    "x-logo": {
      "url": "https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/logo.png",
      "altText": "easypay"
    },
    "summary": ""
  },
  "servers": [
    {
      "url": "https://api.prod.easypay.pt/2.0",
      "description": "Production"
    },
    {
      "url": "https://api.test.easypay.pt/2.0",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "accountId": [],
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Overview",
      "description": "The easypay API is a collection of web services that allow you to receive payments from customers, be notified of those payments, refund them if necessary, among others.\n\n## URLs\n\nThe API endpoints are available through the following domains:\n\n- For test environment:\n  ```bash\n    https://api.test.easypay.pt/\n  ```\n- For production environment:\n  ```bash\n    https://api.prod.easypay.pt/\n  ```\n\n## Authentication\n\nTo create credentials for your account you can follow [this guide](https://www.easypay.pt/blog/como-gerar-chaves-de-autenticacao/). \n\nServer-to-server requests to easypay APIs must be authenticated via **Account ID** and **API Key**.\nTo do so, include the following HTTP headers in your API requests:\n\n```\nAccountId: <YOUR_ACCOUNT_ID>\nApiKey: <YOUR_API_KEY>\n```\n\nWhen these headers are missing or incorrect, a `403` HTTP status code is returned.\n\nFor your convenience, during tests you can use the following ID/Key pair:\n\n```\nAccountId: 2b0f63e2-9fb5-4e52-aca0-b4bf0339bbe6\nApiKey: eae4aa59-8e5b-4ec2-887d-b02768481a92\n```\n\nThese will **only work for testing purposes** and **won't work** in production.\n\n## Errors\n\nEasypay uses HTTP response status codes to indicate the success or failure of your API requests. If your request fails, Easypay returns an error using the appropriate status code.\n\nIn general, there are three status code ranges you can expect:\n\n- `2xx` success status codes confirm that your request worked as expected\n- `4xx` error status codes indicate an error because of the information provided (for example, a required parameter was omitted).\n- `5xx` error status codes are rare and indicate an error with Easypay’s servers.\n\nSome `4xx` errors that could be handled programmatically (for example, a card is declined) include an error code (a short string with a brief explanation) as a value for `code`.\n\nBelow is a list of possible error codes that can be returned, along with additional information about how to resolve them. For your convenience, these types of errors also include the `doc_url` attribute with a direct link to the specific error code it corresponds to.\n\n### <strong>Authentication Error</strong>\n\nThis error can have multiple potential causes. Here are some examples:\n\n- Missing/Invalid AccountId and/or ApiKey Headers\n- Your account has been blocked\n- You don't enough permissions to the action requested\n\n### Invalid Content Type Error\n\nThis error can only have one cause, you provided an invalid/unsupported content type header.\n\n### Invalid JSON Error\n\nThis error happens when you provide a bad formated JSON payload.\n\n### Invalid Params Error\n\nThis error indicates the information provided was incorrect of insufficient (for example, a required parameter was omitted).\n\n### Internal Error\n\nThis error indicates that an unexpected error ocurred on our servers.\n## Idempotency\n\n### Safe Retries in Easypay API: The Role and Implementation of Idempotency Keys\n\nEasypay API incorporates idempotency that enables the **safe re-submission of requests, eliminating the risk of unintentionally duplicating operations**.\n\nThis helps to circumvent unintentional replication due to failures and retries.\n\nFor instance, in an event of a timeout error, you can securely resend the same API payment call several times, assured that the payment detail will be debited only once.\n\nTo execute an idempotent request, simply include an additional `Idempotency-Key` header within the request parameters.\n\n```shell\ncurl -L -X POST 'https://api.test.easypay.pt/2.0/checkout' \\\n  -H 'AccountId: 2b0f63e2-9fb5-4e52-aca0-b4bf0339bbe6' \\\n  -H 'ApiKey: eae4aa59-8e5b-4ec2-887d-b02768481a92' \\\n  -H 'Idempotency-Key: 435e08a0-e5a9-4216-acb5-44d6b96de612' \\\n  -H 'Content-Type: application/json' \\\n  --data-raw '{ \"type\": [ \"single\" ] ... }'\n```\n\nYou can check if a request is a replay by checking if the `Idempotency-Replay` Header is present in the response and if it has the value `\"true\"`.\n\n### Generating Idempotency Keys\n\n\nAlthough the technique of creating unique keys is your choice, **remember random string with sufficient entropy to prevent overlaps is advisable.**\n\nEasypay recommends the use of UUID V4 or ULID as Idempotency Key.\n\nThe maximum length for idempotency key is **50 characters**.\n\n### How it works\n\nTwo requests with the same Idempotency-Key but different AccountId headers will be treated as different requests.\n\nEasypay manages idempotency by storing the initial status code and response body for the initial request with a specific idempotency key.\n\nThe Idempotency layer compares the request body of the incoming request with that of the original request.\n\n**If they differ**, the system triggers an error to prevent inadvertent misuse.\n\nRepeated requests bearing the same key yield identical outcomes. The only exception pertains to **transient errors**, which we have identified as the following:\n\n* Too Many Requests (HTTP status code 429)\n* Bad Gateway (HTTP status code 502)\n* Service Unavailable (HTTP status code 503)\n\nThe previously mentioned error codes are safe to retry.\n\nTo help the client applications decide whether to retry calls, the API's responses include an `X-Easypay-Should-Retry` header with value `\"true\"` or `\"false\"`.\nNote that this header does not take into account the number of tries already made, so clients should keep track and only send a limited number of equal requests (e.g. 3).\n\nIf and when the header is not present, clients can use the following strategy to determine what to do:\n\n1. If no response was received at all, resend the request.\n2. If the response has one of the following status codes, resend the request:\n   * Conflict (HTTP status code 409), may indicate the original request was still in transit\n   * Too Many Requests (HTTP status code 429)\n   * Bad Gateway (HTTP status code 502)\n   * Service Unavailable (HTTP status code 503)\n3. If the response has status code 500 (Internal Server Error), resend the request as long as it's **not** a `POST` request.\n4. Otherwise, don't repeat the request and handle the error.\n\nIdempotency Keys are automatically purged from the system once they've been in existence for 24 hours, and a fresh request is initiated if a key is reused after its original has been deleted.\n\nOnly results from API endpoints that have started execution are stored.\n\n**If your request fails authentication, it will not be governed by idempotency rules.**\n\nIdempotency keys are acceptable in all POST/PATCH requests.\n\nIt is unnecessary and should be avoided to supply idempotency keys in GET and DELETE requests, as these types of requests are inherently idempotent by nature.\n"
    },
    {
      "name": "Payment Concepts",
      "description": "## Payment Methods\n\nPayment methods are defined according to two different categories:\n\n-   **Pull / Push**: The merchant requests the funds from the customer, or the customer sends the funds directly to the merchant.\n-   **Synchronous / Asynchronous**: The charge happens immediately, or only after a period of time.\n\n### Pull or Push\n\nEach method of payment is categorized as either **pull** or **push**, depending on how funds are transferred from the customer’s payment method.\n\n-   In a method with a **pull** behaviour, the customer needs only to accept the payment request from the merchant. Credit card payments and MB WAY are examples of the described behaviour. On the credit card, the customer accepts the payment by providing his credit card details, while on MB WAY they accept by interacting with the push notification on the smartphone.\n\n-   In a method with a **push** behaviour, the customer takes the initiative of sending the funds to the merchant. Virtual IBAN or Multibanco are examples of such behaviour. On the Virtual IBAN, the customer should go to their bank account and create a SEPA transfer to the provided IBAN. On Multibanco, the customer should go to an ATM and create a payment to the entity and reference provided.\n\n### Credit / Debit Card\n\nA Credit / Debit card is a payment card issued to users (cardholders) to enable the cardholder to pay a merchant for a good or service. This is a **synchronous pull** payment method. This means that the payment happens immediately. Credit / Debit cards also support [authorizations](#section/Authorisations-and-Captures) where you can hold an amount for later [capture](#section/Authorisations-and-Captures).\n\n### Apple Pay\n\nApple Pay is a mobile payment and digital wallet service by Apple Inc. that allows users to make payments in iOS apps, and on the web using Safari. It is supported on the iPhone, Apple Watch, iPad, and Mac. Apple Pay is a **synchronous pull** payment method. This means that the payment happens immediately when the customer authorizes it using their Apple device. The merchant requests the payment, and the customer approves it on their device, which sends the payment to the merchant.\nApple Pay does not require the customer to create any additional accounts or fill out an extensive form for each purchase. It utilizes the cards already on file in a user’s Apple Wallet. Apple Pay uses a method called tokenization to secure card information. Tokenization replaces the card number with a unique alphanumeric identifier, referred to as a token. The token is used for communication between the merchant, the bank, and Apple Pay, ensuring the actual card number is never shared with the merchant or transmitted with the payment.\n\nPlease note that Apple Pay is not available in all regions and is subject to the terms and conditions of the card issuer.\n\n### Google Pay™\n\nGoogle Pay is a mobile payment method that enables customers to pay using credit or debit cards stored in their Google Account. It is a synchronous pull payment method, meaning payments are processed immediately upon customer authorization. Google Pay primarily uses a tokenized solution for enhanced security, which most issuers accept as compliant with Strong Customer Authentication (SCA), eliminating the need for 3D-Secure (3DS) in many cases.\n\nFallback for Non-Tokenized Transactions: If a transaction isn’t tokenized or the issuer requires additional authentication, the system will automatically trigger the 3DS flow to ensure payment success.\n\nCompatibility and Requirements: Google Pay is fully compatible with existing features like recurring payments and can be integrated seamlessly into websites and apps. It requires serving the payment page over HTTPS with a TLS domain-validated certificate for secure transactions.\n\nUsage: This payment method supports transactions for physical goods, donations, subscriptions, and more. The integration process involves enabling Google Pay in your payment methods settings, with minimal code implementation required when using certain payment platforms.\n\nRegions and Limitations: Google Pay's availability depends on the user's region. All merchants must adhere to the Google Pay APIs [Acceptable Use Policy](https://payments.developers.google.com/terms/aup) and accept the terms defined in the [Google Pay API Terms of Service](https://payments.developers.google.com/terms/sellertos).\n\n### Samsung Pay\n\nSamsung Pay is a mobile payment service allowing you to make contactless payments with your compatible Samsung phone or Galaxy Watch at most terminals that accept tap-to-pay cards. It uses NFC technology and your device's built-in security features for payments, not storing your actual card details with merchants.\n\nKey Benefits:\n\n-   **Convenience**: Make payments with your phone or watch, eliminating the need to carry cash or physical cards.\n-   **Security**: Uses a digital token for each transaction, so your actual card details are not stored on your device or shared with merchants.\n-   **Fast and Easy**: Payments are quick, requiring just a tap of your device.\n-   **Wide Acceptance**: Works at most retailers that accept contactless (tap-to-pay) card payments.\n\n### MB WAY\n\nMB WAY is a Portuguese local method. To use MB WAY, the customer must have a Portuguese Banking account as well as a smartphone Bank/MB WAY app installed. This is a **synchronous pull** payment method. The Merchant will issue a payment request that will trigger a push notification on the customer application. MB WAY also supports [authorizations](#section/Authorisations-and-Captures) where you can hold an amount for later [capture](#section/Authorisations-and-Captures).\n\n### Multibanco\n\nMultibanco is a Portuguese local method. This is an **asynchronous push** payment method. The Merchant creates a payment request that will generate the Multibanco order details. The details include:\n\n-   An entity number\n-   A reference number\n-   The amount to pay\n    To pay, the customer introduces these details in an ATM or in their homebanking system.\n\nThis payment method has some **_edge cases_** that you should be aware of, such as the ones below:\n\n-   The customer can pay a different amount than the requested;\n-   Multibanco refunds are not currently supported by the vendor. If refunds are needed, you can offer them via SEPA Transfer.\n\n### Direct Debit\n\nDirect Debit is an **asynchronous pull** payment method in which a merchant withdraws funds from the customer's bank account. To do so, the customer must accept a SEPA Direct Debit (SDD) Mandate, which can be valid for multiple payments (therefore supporting single, frequent and subscription payments). To create the SDD Mandate, the merchant must supply the customer's name and IBAN.\n\nDepending on the customer's bank, confirmations of Direct Debit payments may take up to 14 days.\nDirect Debit is not recommended for single payments due to the risk of fraudulent customers issuing chargebacks.\n\n### Virtual IBAN\n\nVirtual IBAN is an **asynchronous push** payment method that follows the same principles of SEPA Bank Transfers: the merchant provides the customer with an IBAN and transfer amount that they should introduce in an ATM or homebanking system to specify the bank account to which funds are to be transferred.\n\nIn comparison with regular SEPA Transfers, Virtual IBAN has the benefit of protecting your bank account details by providing you with a virtual bank account number that supports single, frequent and subscription payments.\n\nAlthough transfers to a single-use Virtual IBAN after the first payment are initially accepted by the customer's bank (and thus funds are temporarily withdrawn), they are automatically refunded by the IBAN issuer bank.\n\n## Payment Types\n\n### Single\n\nSingle payments are one-time transactions that will let your customers pay an amount of money to you. Examples may include a purchase of a good or service, or a donation. Every payment method supported by easypay allows single payments.\n\nYou can accept single payments entirely through our [Checkout](#tag/Checkout) solution or by calling our [Payments API](#tag/Overview).\n\n### Frequent\n\nFrequent payments are repeatable transactions of varying sums without the client having to enter their payment details again. The original details can be obtained (_tokenized_) through our [Checkout](#tag/Checkout) solution, but each payment will have to be charged via the [Payments API](#tag/Overview).\n\nIt is possible to limit the transferred sums by choosing minimum or maximum values, either to the total sum of the transactions or each individual transaction.\n\nSupported methods for frequent payments are: Credit Card, MB WAY, Multibanco, Direct Debit, and Virtual IBAN.\n\n### Subscription\n\nSubscriptions are periodic payments of the same amount of money, configured through [Checkout](#tag/Checkout) or our [Payments API](#tag/Overview).\n\nSubscriptions support a number of different frequencies, ranging from daily to once every three years. Their last payment can be determined by the end date of the subscription, as well as the total number of payments captured. They also support a configurable number of retries for each capture in case of failure, as well as falling back to another (single) payment method if the recurring one is not successful.\n\nSupported methods for subscriptions are: Credit Card and Direct Debit.\n\n## Authorisations and Captures\n\nCertain payment methods like credit card and MB WAY go through two distinct phases: _authorisation_ and _capture_. Our integrations allow you to move through them separately (issuing a card authorisation first and later capturing the funds) or in a single step referred to in our APIs as `sale` (authorisation followed by capture).\n\n### Authorisation\n\nAuthorisation is the first step of the process and involves guaranteeing that the buyer has sufficient funds or credit available to make the payment. If so, the funds are put on hold: the customer cannot use them to pay for other goods or services, but they're not yet transferred to the merchant's account. If the merchant fails to capture the funds in the following days, the hold is lifted.\n\nAuthorisations are useful to make sure customers have the means to purchase your product/service before actually charging them. You can issue the authorisation at the moment an order is placed and only actually transfer the funds when you ship the items or provide the service. Another interesting use case of authorisations is [multi-captures](#section/Authorisations-and-Captures).\n\n### Capture\n\nA capture is the actual transfer of funds from the buyer to the merchant.\n\n### Sale\n\nIn many of our integrations, specifying `sale` as the type of operation will automatically perform an authorisation and a capture, immediatelly transferring the funds from the customer to the merchant in a single step (if successful).\n\n### Multi-captures\n\nIt is also possible to issue an authorisation for a value that will later be split among different captures. One example is a store supporting split payments for orders of multiple vendors. The full amount of the order is authorised but the different captures can be issued at different times, after each vendor confirms or ships the goods.\n"
    },
    {
      "name": "Single Payment",
      "description": "Single payments are one-time transactions that will let your customers pay an amount of money to you. <br/> Examples may include a purchase of a good or service, or a donation. <br/> Every payment method supported by easypay allows single payments. <br/>  <div class=\"pc-tab\"> <input checked=\"checked\" id=\"tab1\" type=\"radio\" name=\"pct\" /> <input id=\"tab2\" type=\"radio\" name=\"pct\" /> <input id=\"tab3\" type=\"radio\" name=\"pct\" /> <input id=\"tab4\" type=\"radio\" name=\"pct\" /> <input id=\"tab5\" type=\"radio\" name=\"pct\" /> <input id=\"tab6\" type=\"radio\" name=\"pct\" /> <input id=\"tab7\" type=\"radio\" name=\"pct\" /> <input id=\"tab8\" type=\"radio\" name=\"pct\" />  <nav>  <ul>  <li class=\"tab1\"> <label id=\"ico1\" for=\"tab1\" class=\"active\" onclick='document.getElementById(\"ico1\").className = \"active\"; document.getElementById(\"ico2\").className = \"\"; document.getElementById(\"ico3\").className = \"\" document.getElementById(\"ico4\").className = \"\"; document.getElementById(\"ico6\").className =\"\";'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png\"/></label> </li>  <li class=\"tab2\"> <label id=\"ico2\" for=\"tab2\" onclick='document.getElementById(\"ico2\").className = \"active\"; document.getElementById(\"ico1\").className = \"\"; document.getElementById(\"ico3\").className = \"\" document.getElementById(\"ico4\").className = \"\"; document.getElementById(\"ico6\").className =\"\";'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png\"/></label> </li>  <li class=\"tab3\"> <label id=\"ico3\" for=\"tab3\" onclick='document.getElementById(\"ico3\").className = \"active\"; document.getElementById(\"ico1\").className = \"\"; document.getElementById(\"ico2\").className = \"\";  document.getElementById(\"ico4\").className = \"\"; document.getElementById(\"ico6\").className =\"\";'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png\"/></label> </li>  <li class=\"tab4\"> <label id=\"ico4\" for=\"tab4\" onclick='document.getElementById(\"ico4\").className = \"active\"; document.getElementById(\"ico1\").className = \"\"; document.getElementById(\"ico2\").className = \"\"; document.getElementById(\"ico3\").className = \"\"; document.getElementById(\"ico6\").className =\"\";'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png\"/></label> </li>  <li class=\"tab6\"> <label id=\"ico6\" for=\"tab6\" onclick='document.getElementById(\"ico6\").className = \"active\"; document.getElementById(\"ico1\").className = \"\"; document.getElementById(\"ico2\").className = \"\";  document.getElementById(\"ico3\").className = \"\"; document.getElementById(\"ico4\").className =\"\";'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/vi.png\"/></label> </li>  </ul>  </nav>  <section>  <div class=\"tab1\"> <h2>Multibanco Reference</h2> <br/> <p>When calling the API 2.0 in single, our system returns an <b><i>entity</i></b> and <b><i>reference</i></b> in the response JSON. When the payment is made by the customer, our system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div>  <div class=\"tab2\"> <h2>MBWay</h2> <br/> <p>Upon successfully calling API 2.0 on a Single with type <b><i>sale</i></b>, our system will communicate to the end customer's <b>MBWAY App</b>. After the event of the customer accepting/declining the payment, our system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of success, your system should call <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized for all operations<br/> &nbsp;&nbsp;917654321 - Failed for all operations<br/> &nbsp;&nbsp;913456789 - Declined for all operations<br/> &nbsp;&nbsp;919876543 - Pending for all operations<br/> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div>  <div class=\"tab3\"> <h2>Visa & Mastercard</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. Our system validates the card in the <b>VISA / MASTERCARD</b> and sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of a success, your system should call the <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p><p>For Visa forward and Visa details configurations follow this <a target=\"_blank\" href=\"https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md\">link</a></p> <p>Only for <B>Test Environment</B>, we have these possible credit card numbers:</p> &nbsp;&nbsp;0000000000000000 - Authorized for all operations<br/> &nbsp;&nbsp;2222222222222222 - Proceed with 3DS authentication<br/> &nbsp;&nbsp;1111111111111111 - Failed for all operations<br/> &nbsp;&nbsp;1234123412341234 - Declined for all operations<br/> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div>  <div class=\"tab4\"> <h2>SEPA Direct Debit</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. Our system validates the card in the <b>VISA / MASTERCARD</b> and sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of a success, your system should call the <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, all valid iban will return success but this one: PT50000201231234567890154</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div>  <div class=\"tab6\"> <h2>Virtual IBAN</h2> <br/> <p>When calling the API 2.0 in single, our system returns an <b><i>IBAN</i></b> in the response JSON. When the payment is made by the customer, our system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href=\"#operation/single-id-get\">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div>  </section>  </div>  <style> .pc-tab section div{ display: none; } .pc-tab input{ display: none; } #tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked ~ section .tab3, #tab4:checked ~ section .tab4, #tab5:checked ~ section .tab5, #tab6:checked ~ section .tab6, #tab7:checked ~ section .tab7, #tab8:checked ~ section .tab8 { display: block; } #tab1:checked ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~ nav .tab3, #tab4:checked ~ nav .tab4, #tab5:checked ~ nav .tab5, #tab6:checked ~ nav .tab6, #tab7:checked ~ nav .tab7, #tab8:checked ~ nav .tab8 { color: red; } .pc-tab { width: 100%; max-width: 700px; margin: 0 auto; } .pc-tab ul { list-style: none; margin: 0; padding: 0 !important; } .pc-tab ul li label { float: left; padding: 5px 25px; border: 1px solid #ddd; cursor: pointer; background: #eeeeee; color: #444; position: relative; top: 1px; } } .pc-tab ul li label:hover { background: #dddddd; } .pc-tab ul li label:active { background: #ffffff; } .pc-tab ul li label.active { background: #ffffff; border-bottom: 1px solid #ffffff; } .pc-tab ul li label:focus { background: #ffffff; } .pc-tab ul li:not(:last-child) label { border-right-width: 0; } .pc-tab section { clear: both; } .pc-tab section div { padding: 20px; width: 100%; border: 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px; color: #444; } .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color: #34495e; } #tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked ~ nav .tab3 label, #tab4:checked ~ nav .tab4 label, #tab5:checked ~ nav .tab5 label, #tab6:checked ~ nav .tab6 label, #tab7:checked ~ nav .tab7 label, #tab8:checked ~ nav .tab8 label { background: white; color: #111; position: relative; } #tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after, #tab3:checked ~ nav .tab3 label:after, #tab4:checked ~ nav .tab4 label:after, #tab5:checked ~ nav .tab5 label:after, #tab6:checked ~ nav .tab6 label:after, #tab7:checked ~ nav .tab7 label:after, #tab8:checked ~ nav .tab8 label:after { content: \"\"; display: block; position: absolute; height: 2px; width: 100%; background: #ffffff; left: 0; bottom: -1px; } .hide{ display: none; } .myblue{ color: #0D71F9; } .mygreen{ color: #39B54A; } .myred{ color: #D4145A; } .mypink{ color: #EF2AC1; } @media only screen and (max-width: 600px) { .hide_mobile { display: none; } } </style>"
    },
    {
      "name": "Frequent Payment",
      "description": "Payments used on frequent services with amounts and periodicity changes <br/> <div id=\"freq\"> <div class=\"pc-tab\"> <input checked=\"checked\" id=\"tab1a\" type=\"radio\" name=\"pcta\" /> <input id=\"tab2a\" type=\"radio\" name=\"pcta\" /> <input id=\"tab3a\" type=\"radio\" name=\"pcta\" /> <input id=\"tab4a\" type=\"radio\" name=\"pcta\" /> <nav> <ul> <li class=\"tab1a\"> <label id=\"ico1a\" for=\"tab1a\" class=\"active\" onclick='document.getElementById(\"ico1a\").className = \"active\"; document.getElementById(\"ico2a\").className = \"\"; document.getElementById(\"ico3a\").className = \"\"; document.getElementById(\"ico4a\").className = \"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png\"/></label> </li> <li class=\"tab2a\"> <label id=\"ico2a\" for=\"tab2a\" onclick='document.getElementById(\"ico2a\").className = \"active\"; document.getElementById(\"ico1a\").className = \"\"; document.getElementById(\"ico3a\").className = \"\"; document.getElementById(\"ico4a\").className = \"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png\"/></label> </li> <li class=\"tab3a\"> <label id=\"ico3a\" for=\"tab3a\" onclick='document.getElementById(\"ico3a\").className = \"active\"; document.getElementById(\"ico2a\").className = \"\"; document.getElementById(\"ico1a\").className = \"\"; document.getElementById(\"ico4a\").className = \"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png\"/></label> </li> <li class=\"tab4a\"> <label id=\"ico4a\" for=\"tab4a\" onclick='document.getElementById(\"ico4a\").className = \"active\"; document.getElementById(\"ico2a\").className = \"\"; document.getElementById(\"ico1a\").className = \"\"; document.getElementById(\"ico3a\").className = \"\"'><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png\"/></label> </li> </ul> </nav> <section> <div class=\"tab1a\"> <h2>Multibanco Reference</h2> <br/> <p>After one Frequent MB request our system will return an <b><i>entity</i></b> and a <b><i>reference</i></b> in the JSON response. The customer can always pay between the min and max values several times before the expiration date or when the method  <a href=\"#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fdelete\">Deletes Frequent</a> is called with success. If the parameter <b><i>unlimited_payments</i></b> is active transactions will be unlimited, <b><i>entity</i></b> and <b><i>reference</i></b> is reseted on our provider 3 times a day, otherwise the total value of payments can’t exceed the max defined. For each payment made with this entity and reference, our system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Frequent <b><i>ID</i></b>.</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div> <div class=\"tab2a\"> <h2>MBWay</h2> <br/> <p>After successfully calling the API 2.0 on a Frequent MBW you can capture funds through the Frequent <b><i>ID</i></b> on a Capture call, our system will communicate to the end customer's <b>MBWAY App</b>. If the final customer accepts / rejects payment, the system sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href=\"#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget\">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized for all operations<br/> &nbsp;&nbsp;917654321 - Declined for all operations<br/> &nbsp;&nbsp;919876543 - Pending for all operations<br/> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div> <div class=\"tab3a\"> <h2>Visa & Mastercard</h2> <br/> <p>When calling the API 2.0 successfully on a Frequent CC, the system returns a <b><i>URL</i></b> in JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. The system validates the card in the <b>VISA / MASTERCARD</b> and notifies <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Frequent <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href=\"#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget\">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful. From a successful communication, you can capture funds using the Frequent <b><i>ID</i></b> in a Capture call. The system will capture the funds from the card and sends a <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Capture <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href=\"#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget\">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p><p>For Visa forward and Visa details configurations follow this <a target=\"_blank\" href=\"https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md\">link</a>.</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div> <div class=\"tab4a\"> <h2>SEPA Direct Debit</h2> <br/> <p>When calling API 2.0 successfully on a Frequent DD, the system returns in JSON including the  SEPA Direct Debit Mandate <b><i>ID</i></b> and an additional <b><i>entity</i></b>/<b><i>reference</i></b> for additional payments. From now on funds can be captured through the Frequent <b><i>ID</i></b> using the <a href=\"#tag/Payment-Generic-Operations%2Fpaths%2F~1capture~1%7Bid%7D%2Fpost\">Capture</a> endpoint, these funds can take up to 48 business hours to obtain a SEPA direct debit response. When responding, the system notifies with  <a href=\"#tag/Payment-Generic-Operations\">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href=\"#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget\">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p> <br/> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.png\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png\"/></a> <a href=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.pdf\" target=\"_blank\"><img src=\"https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png\"/></a> </div> </section> </div> </div> <style> #freq .pc-tab section div{ display: none; } #freq .pc-tab input{ display: none; } #freq #tab1a:checked ~ section .tab1a, #freq #tab2a:checked ~ section .tab2a, #freq #tab4a:checked ~ section .tab4a, #freq #tab3a:checked ~ section .tab3a { display: block; } #freq #tab1a:checked ~ nav .tab1a, #freq #tab2a:checked ~ nav .tab2a, #freq #tab4a:checked ~ nav .tab4a, #freq #tab3a:checked ~ nav .tab3a { color: red; } #freq .pc-tab { width: 100%; max-width: 700px; margin: 0 auto; } #freq .pc-tab ul { list-style: none; margin: 0; padding: 0 !important; } #freq .pc-tab ul li label { float: left; padding: 5px 25px; border: 1px solid #ddd; cursor: pointer;\nbackground: #eeeeee; color: #444; position: relative; top: 1px; } #freq .pc-tab ul li label:hover { background: #dddddd; } #freq .pc-tab ul li label:active { background: #ffffff; } #freq .pc-tab ul li label.active { background: #ffffff; border-bottom: 1px solid #ffffff; } #freq .pc-tab ul li label:focus { background: #ffffff; }\n#freq .pc-tab ul li:not(:last-child) label { border-right-width: 0; } #freq .pc-tab section { clear: both; } #freq .pc-tab section div { padding: 20px; width: 100%; border: 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px; color: #444; } #freq .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color: #34495e; } #freq #tab1a:checked ~ nav .tab1a label, #freq #tab2a:checked ~ nav .tab2a label, #freq #tab4a:checked ~ nav .tab4a label, #freq #tab3a:checked ~ nav .tab3a label { background: white; color: #111; position: relative; } #freq #tab1a:checked ~ nav .tab1a label:after, #freq #tab2a:checked ~ nav .tab2a label:after, #freq #tab4a:checked ~ nav .tab4a label:after, #freq #tab3a:checked ~ nav .tab3a label:after { content: \"\"; display: block; position: absolute; height: 2px; width: 100%; background: #ffffff; left: 0; bottom: -1px; } </style>"
    },
    {
      "name": "Subscription Payment",
      "description": "## Subscription Overview\n\nSubscriptions are recurring payments of a fixed amount, set up via Checkout or our Payments API. They can be scheduled at various frequencies, from daily to once every three years.\n\nSubscriptions can be:\n- Finite – ending on a specific date or after a set number of successful captures.\n- Unlimited – continuing indefinitely until canceled.\n\nThey support configurable retry attempts for failed captures and can optionally fall back to a secondary (single) payment method if the primary method fails.\nCurrently supported payment methods are Credit Card and Direct Debit.\n\n\n## Cycles\n\nEach cycle represents a scheduled payment attempt, defined by the subscription’s frequency, start_time, and max_captures.\nFor finite subscriptions, cycles end when the date or capture limit is reached.\n\nFor unlimited subscriptions, cycles continue until canceled.\n\n#### Cycle Types:\n- CAPTURE_NOW – Immediate payment attempt when the subscription is created.\n- RENEWABLE – Recurring cycles that follow the subscription’s defined frequency.\n- ONE_TIME_CHARGE – Single, isolated payment attempt that does not create future cycles.\n\n## Subscription Lifecycle\n\n<img\n    src=\"https://mermaid.ink/svg/pako:eNq1Vt1q2zAUfpWDLkYC6U9auiSGFkrLoBftwlJ2MQJFkY9jUVvyZHluVvImYw-3J9lRLDtOm6broL6S5fOdn-98OvIjEzpEFrAcvxeoBF5KPjc8nSqghxdWqyKdoaneM26sFDLjysI1GhG7Bc_X6_MsS6TgVmr1HDGejM_HV85-zBcpOvPx1RazhNtIm9QZTkSMYZFsi3-DttTmvu3Ob0197DqrvbOzKnQAFwa5RZgUs1wYmbk8oTP-PLmFg7y1160cVCgH9ykF8JUnMnQuPgBtlNyEILSK5NwjvOEGxgeVSlrJE5jJJJFqDmIhEoRObrkt8tMMVUi7PrLSBNA_0MDazSUKGaKH2UWGAQie2cLgndIlaAMGFZZ8lmDNAE9s26bafJKnJy2Ac2sxzRoAdOqEVxG7a7BH7G0U-QXzIrGVESY5tpPZEnUNrFsMkTS59eVlVHmWcLXGbmPkRoNMUwylo7dOmzoqHOGNBInYNh9XEfDGuCT18KpuDKHjeaQAaFoFO1itsUkhBOb5-uOLhV1zUmdVzinkO2GEq8VKhFDCUOIs1vrelS0jf6JIKy2N3tU1eNetfFf81wl_4jIhs83IidYZtcyaBXQq_RbG9aomIz-YcXGvo6i7iXtJO5Urn9FzyKuKaTJ3vXobsxHVh-F7EFt5fsKA04KjdCVFVI60cAdH_5VA5P3frYSM_9iDW-oAZYdGueOQ-fanaGMdvqklLpuVpA6iSjvd9yoQSmljmhQuaneHEpqX1ln2EhaFMe7egk49MyAy1V226L4yevxgVvhgn07lzXH8EuVjox1PkPsZFj4_Art4_vP7F-Q8bY5wzTcQm6HLpima9djcyJAF1hTYYymalLtX9uhMpszGmOKUBbQsY2lpOVVLAtFN-U3rtMYZXcxjFkScBkSPFZm7yfyF35hQNDQXulCWBScnKxcseGQPLDga9veP-sfHg_5w9HHYP6SPCxYcD_dH9AxGo8PhaDAYnCx77Ocq5uH-cEA2NJ-tNtfVb0Y1bNjyL5I9xzY\"\n    alt=\"Subscription lifecycle\"\n    style=\"width: 900px; max-width: 100%; height: auto; border: 1px solid rgb(228, 231, 235); background: rgb(255, 255, 255); padding: 30px 0;\"\n/>\n\n## Frequency Options\n\nSubscriptions support the following frequency values:\n\n| Frequency | Description                    |\n| --------- | ------------------------------ |\n| `1D`      | Daily                          |\n| `1W`      | Weekly                         |\n| `2W`      | Bi-weekly (every 2 weeks)      |\n| `1M`      | Monthly                        |\n| `2M`      | Bi-monthly (every 2 months)    |\n| `3M`      | Quarterly (every 3 months)     |\n| `4M`      | Every 4 months                 |\n| `6M`      | Semi-annually (every 6 months) |\n| `1Y`      | Annually                       |\n| `2Y`      | Every 2 years                  |\n| `3Y`      | Every 3 years                  |\n\n## Use Cases\n\n### 1. Subscription Inactivation\n\nWhen a subscription is inactivated:\n\n-   All pending cycles are immediately deleted\n-   No further payments will be processed\n-   The subscription can be reactivated later\n\n### 2. Subscription Activation\n\nWhen a subscription is activated (or reactivated):\n\n-   New cycles are created and scheduled according to the current `start_time` and `frequency`\n-   Billing resumes based on the updated configuration\n\n### 3. Payment Failures and Retries\n\n-   Each cycle supports configurable retry attempts\n-   The maximum number of retries is determined by the selected frequency\n-   If all retries fail and `failover` is enabled, the system attempts payment with an alternative single payment method\n-   Failed cycles don't prevent future cycles from being created\n\n### 4. Unlimited Subscriptions\n\n-   Setting `unlimited_payments: true` creates a subscription that continues indefinitely\n-   Cycles are generated continuously until the subscription is manually inactivated or deleted\n-   Useful for ongoing services or memberships\n"
    },
    {
      "name": "Payment Generic Operations",
      "description": "These operations can be used on all our payment types: single, frequent and subscription"
    },
    {
      "name": "Notifications / Webhooks",
      "description": "## What are notifications and why they are useful\nEasypay use notifications (webhooks) for event notifications.\n\nNotifications are **POST API** calls (JSON encoded) that let your application know an event has happened.\n\nThis is a server-to-server service that sends near real-time notifications, informing about a payment status change.\n\nNotifications are particularly useful for asynchronous events like:\n\n* when a customer pays a MB reference.\n* a frequent payment succeeds/fails.\n* subscription succeeds/fails, among other useful events.\n* a checkout single sale payment succeeds/fails.\n\nWith notifications your system can automate custom actions in response to the transitions that happen in a payment flow.\n\n\n## Supported Notification types\n\nEasypay supports 3 notification types:\n\n- **Generic notification**: a notification informing about all state transitions of some payment resource.\n- **Authorisation notification**: a notification informing about some payment transitioning to authorization status. Available for single and frequent payments.\n- **Transaction notification**: a notification informing about some payment transitioning to capture status. Available for single and frequent payments.\n\nAs an example, if you subscribe to Generic and Authorisation notifications, we will inform you about the payment status transition to authorized in two different formats and you will receive two notifications for the same event.\n\nWhat varies in these two notifications, for the same event, is the contract of the notification message.\n\n## Generic Notification\n\nAll transitions that happen in a payment flow are notified via generic notification.\n\nThe notification flow follows the following diagram:\n\n![Recommended flow](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/notification_recommended_flow.png)\n\n1. A change of payment state is notified to the configured generic notification endpoint.\n2. The integrator system that received a generic notification, queries Easypay API's. This is a recommended to ensure that the received notification was issued by Easypay.\n3. The integrator system performs its internal application logic regarding the payment state transition, according to API response.\n\nThe generic notification message contains the following fields:\n```json\n{\n  \"id\": \"5eca7446-14e9-47bb-aabb-5ee237159b8b\",\n  \"key\": \"dcf9ab3fd95ca3d5607853f36d46f161c8715858\",\n  \"type\": \"capture\",\n  \"status\": \"success\",\n  \"messages\": [\"Your request was successfully captured\"],\n  \"date\": \"2022-08-10 14:56:54\"\n}\n```\n\n### Payload Attributes\n\n| Name         | Type   | Description                                                                                                                                                                                                          |\n|--------------|--------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| **type**     | string | the type of payment status change.                                                                                                                                                                                   |\n| **status**   | string | the status of the given payment status change.                                                                                                                                                                       |\n| **messages** | string | messages associated with this payment status change.                                                                                                                                                                 |\n| **date**     | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty.he merchant identification key provided on a single or frequent payment request. |\n\nIn a generic notification, the fields `id` and `key` will change according to the **payment type** and **operation**.\n\nThe following table describes the possible combinations:\n\n| Payment Type                           | Name                  | Type                  | Description                                                                                                                              |\n|----------------------------------------|-----------------------|-----------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| **Single Authorisation**               | **id** <br /> **key** | string  <br /> string | the `id` of the single payment.<br /> the field `key` given to create single request payload.                                            |\n| **Single Capture**                     | **id** <br /> **key** | string  <br /> string | the `id` of the single payment.<br />the field `transaction_key` given to capturing single payload.                                      |\n| **Single Sale**                        | **id** <br /> **key** | string  <br /> string | the `id` of the single payment. <br />the field `transaction_key`, inside of object `capture`, given to create single request payload.   |\n| **Frequent Create**                    | **id** <br />**key**  | string  <br /> string | the `id` of the frequent payment.<br />the field `key` given to create frequent request payload.                                         |\n| **Frequent Authorization**             | **id** <br />**key**  | string  <br /> string | the `id` of the frequent payment.<br />the field `transaction_key` given to authorisation frequent request payload.                      |\n| **Frequent Capture**                   | **id** <br />**key**  | string  <br /> string | the `id` of the capture operation. <br />the field `transaction_key` given to capture frequent request payload.                          |\n| **Refund Single/Frequent Capture**     | **id** <br />**key**  | string <br /> string  | the `id` of the refund.<br />the field `transaction_key` given to refund capture request payload.                                        |\n| **Void Single/Frequent Authorisation** | **id** <br />**key**  | string <br /> string  | the `id` of the void.<br />the field `transaction_key` given to void authorisation request payload.                                      |\n| **Subcription Create**                 | **id** <br />**key**  | string <br /> string  | the `id` of the subscription.<br />the field `key` given to create subscription request payload.                                         |\n| **Subcription Capture**                | **id** <br />**key**  | string <br /> string  | the `id` of the subscription.<br />the field `transaction_key` inside of object `capture`, given to create subscription request payload. |\n| **Chargeback Single**                  | **id** <br />**key**  | string <br /> string  | the `id` of the single.<br />the field `transaction_key` given to create frequent request payload.                                       |\n| **Chargeback Frequent**                | **id** <br />**key**  | string <br /> string  | the `id` of the capture operation.<br />the field `transaction_key` given to capture frequent request payload.                           |\n| **Outpayment**                         | **id** <br />**key**  | string <br /> string  | the `id` of the outpayment operation.<br />the field `key` given to create outpayment request payload.                                   |\n\n### Authorisation Notification Message structure\n\nThe delivered authorisation notification message contains the following fields:\n```json\n{\n  \"id\": \"1bbc14c3-8ca8-492c-887d-1ca86400e4fa\",\n  \"value\": 1,\n  \"currency\": \"EUR\",\n  \"key\": \"the merchant key\",\n  \"expiration_time\": \"2022-01-01 10:20\",\n  \"customer\": {\n    \"id\": \"22ea3cc9-424b-489a-91b7-8955f643dc93\",\n    \"name\": \"Customer Example\",\n    \"email\": \"customer@example.com\",\n    \"phone\": \"911234567\",\n    \"phone_indicative\": \"+351\",\n    \"fiscal_number\": \"PT123456789\",\n    \"key\": \"Key Example\",\n    \"language\": \"PT\"\n  },\n  \"method\": \"mb\",\n  \"account\": {\n    \"id\": \"4c67e74b-a256-4e0a-965d-97bf5d01bd50\"\n  },\n  \"authorisation\": {\n    \"id\": \"4c67e74b-a256-4e0a-965d-97bf5d01bd50\"\n  }\n}\n```\n\n### Attributes\n\n| Name                | Type   | Description                                                                                                                          |\n|---------------------|--------|--------------------------------------------------------------------------------------------------------------------------------------|\n| **id**              | string | the uuid of a single or frequent payment                                                                                             |\n| **value**           | double | the amount requested on single/frequent creation. Rounded to 2 decimals.                                                             |\n| **key**             | string | the merchant identification key provided on a single or frequent payment request                                                     |\n| **expiration_time** | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty. |\n| **customer**        | object | the customer associated at single or frequent payment request                                                                        |\n| **method**          | string | the choosen payment method associated with single or frequent payment                                                                |\n| **account**         | object | the account from which this notification was originated                                                                              |\n| **authorization**   | object | the authorization details.                                                                                                           |\n\n## Transaction Notification Message structure\n\nThe transaction notification message contains the following fields:\n```json\n{\n  \"id\": \"87615356-0a88-42bd-8abb-aab3e90128de\",\n  \"value\": \"40\",\n  \"currency\": \"EUR\",\n  \"key\": \"the merchant key\",\n  \"expiration_time\": \"2023-08-07 20:00\",\n  \"method\": \"MBW\",\n  \"customer\": {\n    \"id\": \"2eb64a7f-90a7-4dc6-959b-1d9aba44910c\",\n    \"phone\": \"910410419\"\n  },\n  \"account\": {\n    \"id\": \"0b8de6e7-89c8-4d76-93e8-019bc058f27d\"\n  },\n  \"transaction\": {\n    \"id\": \"eb23923b-3529-4b71-b54e-1e707a8d55c4\",\n    \"key\": \"transaction_key_of_this_capture\",\n    \"type\": \"capture\",\n    \"date\": \"2022-08-10T12:45:50Z\",\n    \"values\": {\n      \"requested\": \"40\",\n      \"paid\": \"40\",\n      \"fixed_fee\": \"0\",\n      \"variable_fee\": \"0\",\n      \"tax\": \"0\",\n      \"transfer\": \"0\"\n    }\n  }\n}\n```\n\n### Attributes\n\n| Name                | Type   | Description                                                                                                                          |\n|---------------------|--------|--------------------------------------------------------------------------------------------------------------------------------------|\n| **id**              | string | the uuid of a single or frequent payment                                                                                             |\n| **value**           | double | the amount requested on single/frequent creation. Rounded to 2 decimals.                                                             |\n| **currency**        | string | the currency of requested amount requested on single/frequent creation.                                                              |\n| **key**             | string | the merchant identification key provided on a single or frequent payment request.                                                    |\n| **expiration_time** | string | the expiration associated with this single or frequent payment. Follows the format <Y-m-d H:i> If none was given, defaults to empty. |\n| **method**          | string | the choosen payment method associated with single or frequent payment.                                                               |\n| **customer**        | object | the customer associated at single or frequent payment request.                                                                       |\n| **account**         | object | the account from which this notification was originated.                                                                             |\n| **transaction**     | object | the details of this transaction.                                                                                                     |\n\n## Configuring Notifications\n\nOn Easypay backoffice, navigate to `Developers > Configuration API 2.0`.\n\nSelect the payment account you want to receive notifications.\n\nSelect `Notifications`.\n\nTo receive generic notifications, place your system url on `Generic - URL `.\n\nTo receive authorisation notifications, place your system url on `Authorisation - URL`.\n\nTo receive capture notifications, place your system url on `Payment - URL`.\n\n## Following Notification via Backoffice\n\nOn Easypay backoffice, navigate to `Developers > Notifications API 2.0`.\n\nThere, you can select the payment account whose notifications you are interested in.\n"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Out Payment",
      "description": "These operations will allow our clients to transfer their funds from Easypay Accounts to a Sepa Bank Account."
    },
    {
      "name": "Config",
      "description": "Account URL configuration for notifications and credit card transactions"
    },
    {
      "name": "Checkout",
      "description": "## Checkout Overview\n\nCheckout is easypay's integrated solution for collecting payments in any website.\n\nIt requires no extensive programming knowledge by including a pre-built payment form directly in your website. Checkout is responsible for:\n\n-   Collecting user information.\n-   Allowing payment method selection.\n-   Collecting payment information.\n-   Invoking payment APIs.\n-   Displaying payment feedback.\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/overview-v1.1.0.png)\n\n## Supported payment methods\n\nCurrently, the supported payment methods are:\n\n-   [Credit Card](#section/Payment-Methods)\n-   [MB WAY](#section/Payment-Methods)\n-   [Apple Pay](#section/Payment-Methods)\n-   [Google Pay](#section/Payment-Methods)\n-   [Samsung Pay](#section/Payment-Methods)\n-   [Multibanco Reference](#section/Payment-Methods)\n-   [Direct Debit](#section/Payment-Methods)\n-   [Virtual IBAN](#section/Payment-Methods)\n\nTo know how to choose from the available methods and integrate them with Checkout, read the [integration guide](#tag/Checkout).\n\n## Supported payment types\n\nBoth [single](#section/Payment-Types) and [frequent](#section/Payment-Types) payments, as well as [subscriptions](#section/Payment-Types) are accepted by Checkout.\n\n## Integration methods\n\nAll Checkout interactions begin by making a server-to-server [request to create a Checkout session](#section/Guide). The request will return a \\*Checkout **manifest\\***, which is then used to configure and display a Checkout form created exclusively for that payment interaction.\n\nYou can then display a Checkout form in your page by invoking our [Checkout SDK](#section/Guide). The SDK can be included from a CDN, via HTML `<script>` tag, or you can use it as an NPM dependency in your project and import it in JavaScript/TypeScript.\n\nThis two-step approach makes Checkout the easiest way to integrate easypay payments in your custom website.\n\n## Demo\n\nYou can explore a [live integration of Checkout](https://checkout-demo.easypay.pt) to see what exactly is included in the solution, as well as trying out each payment flow.\n\nThe source code for the application, as well as instructions for running it locally, is available at the [public repository](https://github.com/Easypay/checkout-demo).\n\n## Guide\n\n### Requirements\n\nBefore using Checkout, you will need an [easypay payment account](https://www.easypay.pt/en/blog/onboarding-on-the-website/).\n\nAn example app that demonstrates the steps described in this guide is available at https://github.com/Easypay/checkout-demo .\n\n### Creating a checkout session\n\nTo create a Checkout session, you are required to send a server-to-server `POST` request to the [`/checkout`](#tag/Checkout) endpoint. The created session will have an expiration time of 30 minutes at most, after which the users won't be able to pay that specific Checkout anymore.\n\nLike all API requests, this request is authenticated as described in [Authentication](#section/Authentication), which means you must include the `AccountId` and `ApiKey` headers.\n\nAn example payload is:\n\n```json\n{\n    \"type\": [\"single\"],\n    \"payment\": {\n        \"methods\": [\"cc\", \"mb\", \"mbw\", \"dd\", \"vi\"],\n        \"type\": \"sale\",\n        \"capture\": {\n            \"descriptive\": \"Purchase in MyStore\"\n        },\n        \"currency\": \"EUR\",\n        \"expiration_time\": null\n    },\n    \"order\": {\n        \"items\": [\n            {\n                \"description\": \"T-shirt\",\n                \"quantity\": 1,\n                \"key\": \"t-shirt\",\n                \"value\": 12.5\n            },\n            {\n                \"description\": \"Gloves\",\n                \"quantity\": 1,\n                \"key\": \"gloves\",\n                \"value\": 7\n            }\n        ],\n        \"key\": \"order-123\",\n        \"value\": 19.5\n    }\n}\n```\n\nYou can check all the possible parameters in the [Checkout reference](#tag/Checkout).\n\nThe service will return something like:\n\n```json\n{\n    \"id\": \"57cc19e9-f393-4cfa-9516-8807763b5096\",\n    \"session\": \"8zoaBOC0Mj5Mg_YAbdRCqYGI66Zc2DttAWeyVcedzhuT3r2IE8aS7l7H-sQOyppgawIv-wO48H_oKDHMzvMf1TeIJwo3Xu7HO7Tmj7y1iblt8t9JlEzyNdf5HurTvCeszC8PdRS4mbaPBCMCQ7g4xkG0qUuOEhiee5OB49MJJQ-Mo9vEnC_R4hzRBi-HSIMviTNDcCm5NiMnn__nWZxpfAmh6pYUg_eznqTGNbheYLu7ku_mBn7HvAdJQcgsmk6eeD-Z9S8SsK-ONHpbJQz1LNZsUkIIiWpNxPMrzD5Je0r2veawzAaIQmCeN8hYncHDfl5YZ7PP28MFVtEjMGOxsOsqxL4wmDOLPO5s6aWMq7Dxns-OGgf0r7dmaka4Y2mXovLVtNxsGgsNbBav8K86f5DceCDmPKBzYh-X5i1nx07LuqYKoJmA8NfyVP5tb-R3Y9dtwbPzcHc_AyQVKlsM0HtW3JXAdqoIBfsDgUqwASeuqQHEyIITKlcRvDIzWFaxTgXmmJauj6et7mo1GEM4L1gDkA1IXOd3n4HU2GvfPw==\",\n    \"config\": null\n}\n```\n\nThis return object is referred to as a **Checkout manifest**, and will be needed in the steps below.\n\n### Integrating in your page\n\n#### Script tag\n\nInclude the easypay Checkout SDK in your page:\n\n```html\n<script src=\"https://cdn.easypay.pt/checkout/2.9.1/\"></script>\n```\n\nPrepare an empty element in your page where you'd like the Checkout form to be and give it the `easypay-checkout` id:\n\n```html\n<div id=\"easypay-checkout\"></div>\n```\n\nMake sure to trigger the server-to-server call described above and get the contents of the manifest:\n\n```javascript\nconst manifest = await yourFunctionToGetTheManifest();\n```\n\nThen, use the globally available `easypayCheckout` variable to initialize the SDK and display the form:\n\n```javascript\neasypayCheckout.startCheckout(manifest);\n```\n\nAnd the Checkout should be running smoothly.\n\n#### Testing\n\nTo test your implementation without actually transferring funds, you should:\n\n-   Create the Checkout session using the testing API endpoint: `api.test.easypay.pt`\n-   Set the `testing` property of the SDK to `true`\n\n```javascript\neasypayCheckout.startCheckout(manifest, {\n    display: \"popup\",\n    testing: true,\n});\n```\n\nRemember to remove the testing property when switching to the `api.prod.easypay.pt` endpoint,\notherwise Checkout will be unable to find the created Checkout sessions.\n\n#### NPM import\n\nInstead of directly including the JavaScript library from the CDN, you can import it as an NPM module:\n\n```bash\nnpm install --save @easypaypt/checkout-sdk\n```\n\nAnd use it like any other importable dependency:\n\n```javascript\nimport { startCheckout } from \"@easypaypt/checkout-sdk\";\n\nstartCheckout(manifest);\n```\n\nAll the other steps are the same as for the CDN.\n\n#### Customizing element id\n\nIf you'd like to have the Checkout form displayed in an element with another id, for instance:\n\n```html\n<div id=\"checkout-form\"></div>\n```\n\nYou can pass the id in the options parameter of the Checkout initialization:\n\n```javascript\nstartCheckout(manifest, { id: \"checkout-form\" });\n```\n\n#### Removing Checkout contents\n\nWhen starting a Checkout form, you can store the return value to later manage it (particularly by removing it from the page at a later date).\n\n```javascript\nconst checkoutInstance = startCheckout(manifest);\n```\n\nWhen you no longer wish to display the Checkout contents, call the `unmount()` method on the return object:\n\n```javascript\ncheckoutInstance.unmount();\n```\n\n#### Reacting to successful payment interactions\n\nEven before the Checkout process is completed (by the user pressing the End button or closing the popup), the Checkout SDK is able to notify you of a successful payment interaction.\n\nThis doesn't necessarily mean that the funds were transferred, but that no more user interaction with the Checkout is needed.\n\nFor instance, for a Credit Card payment, this means that the user successfully authorized the operation, and for Multibanco payments this means the user has requested the entity and reference values to pay later.\n\n```javascript\nfunction mySuccessHandler(checkoutSuccessInfo) {\n    // There was a successful payment interaction// You can react to details in checkoutSuccessInfo\n}\n\nconst checkoutInstance = startCheckout(manifest, {\n    onSuccess: mySuccessHandler,\n});\n```\n\nYour callback function can receive a parameter with additional details about the outcome of the payment process. The full reference of the details is available on the [reference page](#tag/Checkout).\n\n#### Reacting to Checkout UI close\n\nIt will often be useful to know when users finish the Checkout process, so you can hide the Checkout contents and display a thank you message.\nThe SDK includes a callback parameter that you can pass to get notified when the Checkout process is closed. In inline mode, this always means that the user finished a payment interaction, but in popup mode the user can choose to close the Checkout popup without finishing a payment interaction.\n\n```javascript\nlet successfulPaymentInteraction = false;\n\nfunction mySuccessHandler(checkoutSuccessInfo) {\n    successfulPaymentInteraction = true;\n}\n\nfunction myCloseHandler() {\n    if (successfulPaymentInteraction) {\n        checkoutInstance.unmount();\n        document.write(\"Your order was received. Thank you.\");\n    }\n}\n\nconst checkoutInstance = startCheckout(manifest, {\n    onSuccess: mySuccessHandler,\n    onClose: myCloseHandler,\n});\n```\n\n#### Saving frequent payment information\n\nProcessing a frequent payment means you have to save tokenized payment details to later use them to actually transfer funds.\n\nTo create a frequent payment Checkout session, your initial `POST` request to `/checkout` will have to include the `type` property set to `['frequent']`.\n\nAfter the user selects a payment method and fills in their details (if any), the SDK will call the success handler with the result information. It is at this point that you should send the `payment.id` field to your server.\n\n```javascript\nfunction saveTokenizedPayment(checkoutSuccessInfo) {\n    sendTokenToServer(checkoutSuccessInfo.payment.id);\n}\n\nconst checkoutInstance = startCheckout(manifest, {\n    onSuccess: saveTokenizedPayment,\n});\n```\n\nFrom then on, you can use the payment ID to send server-to-server requests capturing funds.\n\nEach capture is created by sending a `POST` request to the `/capture/<payment id>` endpoint. The request must be authenticated with the AccountId and ApiKey headers as usual.\nThe payload has to include at least the `descriptive` and `value` for the capture. Learn more in the [service reference](#section/Authorisations-and-Captures).\n\n```json\n{\n    \"descriptive\": \"Purchase in MyStore\",\n    \"value\": 20\n}\n```\n\nOn success, the service will return something similar to:\n\n```json\n{\n    \"status\": \"ok\",\n    \"message\": [\"Your request was successfully created\"],\n    \"id\": \"c68d8d1a-4c95-4a87-b9b5-031057b3a68e\"\n}\n```\n\nYou can use the resulting capture `id` to get information about the specific capture by issuing an authenticated `GET` request to `/capture/<capture id>`. Learn more in the [service reference](#section/Authorisations-and-Captures).\n\nIt will reply with the capture details:\n\n```json\n{\n    \"account\": {\n        \"id\": \"1a398de4-d318-48fc-a9fd-230f863dc0e1\"\n    },\n    \"capture_date\": \"2022-08-02\",\n    \"descriptive\": \"Purchase in MyStore\",\n    \"force_3ds\": false,\n    \"id\": \"c68d8d1a-4c95-4a87-b9b5-031057b3a68e\",\n    \"payment_id\": \"76ab3c32-7883-459f-a0ef-5fe0541e0ec7\",\n    \"payment_type\": \"frequent\",\n    \"status\": \"success\",\n    \"transaction_key\": \"\",\n    \"value\": 20\n}\n```\n\n**Note**: for frequent Multibanco Reference payments, no capture request is necessary. It's the customer's responsibility to make new payments to the same reference.\n\nIf you wish to be notified each time a payment is successful, follow our [Notifications documentation](#tag/Notifications-Webhooks).\n\n#### Accepting subscriptions\n\nFor periodical payments with a set frequency, you can accept subscription payments in Checkout.\n\nTo do so, you will need to specify a payment `type` of `[\"subscription\"]`.\n\nYou will also need to define:\n\n-   A `payment.start_time`, that determines when the subscription payments start. The start time must be in the future.\n-   A `payment.frequency` that sets the periodicity of the payments (weekly, monthly, etc). Available values are:\n-   `\"1D\"` (daily)\n-   `\"1W\"` (weekly)\n-   `\"2W\"` (biweekly)\n-   `\"1M\"` (monthly)\n-   `\"2M\"` (bimonthly)\n-   `\"3M\"` (trimonthly)\n-   `\"4M\"` (quadmonthly)\n-   `\"6M\"` (semiannually)\n-   `\"1Y\"` (annually)\n-   `\"2Y\"` (biannually)\n-   `\"3Y\"` (triannually)\n-   Either a `payment.expiration_time` or a `payment.max_captures`, so that the subscription has an end eventually.\n\nCheck the [reference](#tag/Checkout) for additional details and all the available properties.\n\nAn example request payload would therefore be:\n\n```json\n{\n    \"type\": [\"subscription\"],\n    \"payment\": {\n        \"methods\": [\"cc\", \"dd\"],\n        \"type\": \"sale\",\n        \"capture\": {\n            \"descriptive\": \"Purchase in MyStore\"\n        },\n        \"start_time\": \"2023-01-01 00:00\",\n        \"frequency\": \"1M\",\n        \"expiration_time\": \"2030-12-31 23:59\"\n    },\n    \"order\": {\n        \"items\": [\n            {\n                \"description\": \"My streaming service\",\n                \"quantity\": 1,\n                \"key\": \"streaming-service\",\n                \"value\": 12.5\n            }\n        ],\n        \"key\": \"order-123\",\n        \"value\": 12.5\n    }\n}\n```\n\nAfter typing their details, the customer would then see a confirmation dialog for the subscription:\n\n![Subscription](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/subscription.png)\n\nPressing the proceed button allows to continue on with the payment method selection and the remaining interaction is the same as for single and frequent payments.\n\n#### Reacting to Checkout errors\n\nThe Checkout process is resilient to most forms of errors and allows the customer to retry multiple times with different payment methods until the payment is completed.\nHowever, there are cases where the Checkout form is unable to recover on its own, such as an expired Checkout session, an attempt to pay a Checkout that was already paid or a Checkout that was canceled.\n\nYou can be notified of such cases by passing the callback parameter `onError`:\n\n```javascript\nfunction myErrorHandler(error) {checkoutInstance.unmount()switch (error.code) {\n    case 'checkout-expired':// In this case a new Checkout session must be createdconst manifest = await yourFunctionToGetTheManifest()checkoutInstance = startCheckout(manifest, {\n        onError: myErrorHandler\n})\n    break\ncase 'already-paid':\n    document.write('Your order was already paid. Thank you.')\n    break\ncase 'checkout-canceled':\n    document.write('Your checkout was canceled.')\n    break\ndefault:\n    document.write('Unable to process payment, please try again.')\n}\n}\n\nconst checkoutInstance = startCheckout(manifest, {onError: myErrorHandler\n})\n```\n\nThe list of possible errors is further documented in [the reference](#section/Errors)\n\n#### How to use popup module\n\nIf you want to integrate Checkout and display it in a popup this is what you need to do:\n\n1. Import easypay's Checkout SDK into you project:\n\n-   See [Integrating in your page](tag#Integrating-in-your-page)\n\n2. Add a button with an id to your page:\n\n```html\n<button id=\"checkout\">Open Popup</button>\n```\n\n```js\nfunction initEasypayCheckoutSDK(manifest) {\n    checkoutInstance = easypayCheckout.startCheckout(manifest, {\n        id: \"checkout\",\n        display: \"popup\",\n    });\n}\n```\n\nResult:\n\n<img width=\"746\" alt=\"Checkout Popup Mode\" src=\"https://user-images.githubusercontent.com/30448483/172881494-7265ff97-d142-4fee-9a2b-047b986dbefc.png\">\n\n#### Changing Checkout's appearance\n\nCheckout supports a robust styling API that allows integrators to change its appearance in order to better blend it in their website.\n\nThe list of customizations include:\n\n-   An optional company logo to display in the header\n-   The colors used in:\n-   The background\n-   Highlights (the more colorful sections of the page, originally blue)\n-   Buttons\n-   Input borders and backgrounds\n-   Whether to use floating labels in the inputs\n-   Whether to use box-shadow in the buttons\n-   The font family used to render the text\n-   The overall text size\n\nWith a combination of some of these options, it's possible to change the Checkout entirely, fitting it in your website with ease.\n\nExample:\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    logoUrl: \"www.example.com/mylogo.png\",\n    accentColor: \"orange\",\n    buttonBackgroundColor: \"#111\",\n    buttonBoxShadow: false,\n    buttonBorderRadius: 5,\n    inputBorderRadius: 5,\n    inputBorderColor: \"#000\",\n    inputBackgroundColor: \"#ffe7c4\",\n    backgroundColor: \"#eee\",\n    fontFamily:\n        \"https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrEVIT9d0c8.woff2\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/stylingapi.png)\n\nTo see every individual option in detail, check the [reference](/checkout/reference#examples-of-each-appearance-property).\n\n## SDK\n\n<style>\n.ep-table-container {\n  overflow-x: auto;\n  margin: 1.5em 0;\n  border: 1px solid #e0e0e0;\n  border-radius: 4px;\n  box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n}\n.ep-table {\n  width: 100%;\n  border-collapse: separate;\n  border-spacing: 0;\n  font-size: 14px;\n  line-height: 1.4;\n  table-layout: fixed;\n}\n.ep-table th {\n  background: #f8f9fa;\n  font-weight: 600;\n  text-align: left;\n  padding: 12px 16px;\n  border-bottom: 2px solid #dee2e6;\n  white-space: nowrap;\n}\n.ep-table td {\n  padding: 12px 16px;\n  border-bottom: 1px solid #dee2e6;\n  vertical-align: top;\n}\n.ep-table td:first-child {\n  width: 160px;\n  white-space: nowrap;\n}\n.ep-table td:nth-child(2) {\n  width: 120px;\n  white-space: nowrap;\n}\n.ep-table td:nth-child(3) {\n  width: 100px;\n  white-space: nowrap;\n}\n.ep-table td:nth-child(4) {\n  width: auto;\n}\n.ep-table tr:last-child td {\n  border-bottom: none;\n}\n.ep-table code {\n  background: #f5f7f9;\n  padding: 2px 6px;\n  border-radius: 3px;\n  font-size: 13px;\n  color: #e83e8c;\n  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;\n  word-break: normal;\n  white-space: nowrap;\n  display: inline-block;\n  margin: 0;\n}\n.ep-table td:last-child code {\n  white-space: normal;\n  word-break: break-word;\n}\n.ep-table tr:hover td {\n  background-color: #f8f9fa;\n}\n\n/* Specific styles for tables with 3 columns */\n.ep-table.three-columns td:first-child {\n  width: 160px;\n}\n.ep-table.three-columns td:nth-child(2) {\n  width: auto;\n  white-space: normal;\n  word-break: break-word;\n}\n.ep-table.three-columns td:last-child {\n  width: auto;\n  white-space: normal;\n  word-break: break-word;\n}\n</style>\n\n### `startCheckout(manifest, [options])`\n\n#### Parameters:\n\n-   `manifest`: The return object from the [checkout service](#operation/checkout-post!c=201&path=session&t=response).\n-   `options`: An optional object containing any of the following properties:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table\">\n<thead>\n<tr>\n<th>Option</th>\n<th>Type</th>\n<th>Required</th>\n<th>Default</th>\n<th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td><code>id</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'easypay-checkout'</code></td>\n<td>The id of the HTML element where the Checkout form should be included.</td>\n</tr>\n<tr>\n<td><code>onSuccess</code></td>\n<td><code>function</code></td>\n<td>no</td>\n<td><code>() => {}</code></td>\n<td>Callback function to be called when the Checkout is finished successfully.</td>\n</tr>\n<tr>\n<td><code>onError</code></td>\n<td><code>function</code></td>\n<td>no</td>\n<td><code>() => {}</code></td>\n<td>Callback function to be called on (unrecoverable) errors.</td>\n</tr>\n<tr>\n<td><code>onPaymentError</code></td>\n<td><code>function</code></td>\n<td>no</td>\n<td><code>() => {}</code></td>\n<td>Callback function to be called on (recoverable) payment errors.</td>\n</tr>\n<tr>\n<td><code>onClose</code></td>\n<td><code>function</code></td>\n<td>no</td>\n<td><code>undefined</code></td>\n<td>Callback function to be called when the Checkout interaction is closed.</td>\n</tr>\n<tr>\n<td><code>testing</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to use the testing API (<code>true</code>) or the production one (<code>false</code>).</td>\n</tr>\n<tr>\n<td><code>display</code><sup>(1)</sup></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'inline'</code></td>\n<td>The display style of the element that hosts the Checkout.</td>\n</tr>\n<tr>\n<td><code>showLoading</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to show a loading indicator. If shown, it can be customized using the CSS selector <code>.epcsdk-loading::before</code>.</td>\n</tr>\n<tr>\n<td><code>hideDetails</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to hide the details form or not. An expandable summary will be shown with the details, instead, unless <code>hideDetailsButton</code> is also <code>true</code>.</td>\n</tr>\n<tr>\n<td><code>hideDetailsButton</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to hide the details button and expandable summary, when <code>hideDetails</code> is <code>true</code>.</td>\n</tr>\n<tr>\n<td><code>hideCartButton</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to hide the cart button and expandable order summary.</td>\n</tr>\n<tr>\n<td><code>hideSubscriptionSummary</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>false</code></td>\n<td>Whether to hide the subscription summary or not.</td>\n</tr>\n<tr>\n<td><code>language</code><sup>(2)</sup></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>undefined</code></td>\n<td>The language in which to display the Checkout.</td>\n</tr>\n<tr>\n<td><code>logoUrl</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>undefined</code></td>\n<td>The merchant logo url to display in the Checkout.</td>\n</tr>\n<tr>\n<td><code>backgroundColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'#ffffff'</code></td>\n<td>The color used as the background of the Checkout page.</td>\n</tr>\n<tr>\n<td><code>accentColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'#0d71f9'</code></td>\n<td>The color used in highlights, as well as default buttons and input borders.</td>\n</tr>\n<tr>\n<td><code>errorColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'#ff151f'</code></td>\n<td>The color used for errors.</td>\n</tr>\n<tr>\n<td><code>inputBackgroundColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'transparent'</code></td>\n<td>The color used for the input backgrounds.</td>\n</tr>\n<tr>\n<td><code>inputBorderColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>accentColor</code></td>\n<td>The color for input borders.</td>\n</tr>\n<tr>\n<td><code>inputBorderRadius</code></td>\n<td><code>number</code></td>\n<td>no</td>\n<td><code>50</code></td>\n<td>The border radius for inputs, in <code>px</code>.</td>\n</tr>\n<tr>\n<td><code>inputFloatingLabel</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>true</code></td>\n<td>Whether inputs should use floating labels.</td>\n</tr>\n<tr>\n<td><code>buttonBackgroundColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>accentColor</code></td>\n<td>The color used for the button backgrounds.</td>\n</tr>\n<tr>\n<td><code>buttonTextColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>undefined</code></td>\n<td>The color used for the button text. If undefined, a contrasting color will be chosen.</td>\n</tr>\n<tr>\n<td><code>buttonBorderRadius</code></td>\n<td><code>number</code></td>\n<td>no</td>\n<td><code>50</code></td>\n<td>The border radius for buttons, in <code>px</code>.</td>\n</tr>\n<tr>\n<td><code>buttonBoxShadow</code></td>\n<td><code>boolean</code></td>\n<td>no</td>\n<td><code>true</code></td>\n<td>Whether the buttons should have box-shadow.</td>\n</tr>\n<tr>\n<td><code>linkColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'#0d71f9'</code></td>\n<td>The color used for the links text.</td>\n</tr>\n<tr>\n<td><code>stepperTextColor</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>undefined</code></td>\n<td>The color used for the stepper text. If undefined, a contrasting color will be chosen.</td>\n</tr>\n<tr>\n<td><code>fontFamily</code></td>\n<td><code>string</code></td>\n<td>no</td>\n<td><code>'Overpass'</code></td>\n<td>The font used for the text.</td>\n</tr>\n<tr>\n<td><code>baseFontSize</code></td>\n<td><code>number</code></td>\n<td>no</td>\n<td><code>10</code></td>\n<td>The value in <code>px</code> for the font size of the root element (<code>1rem</code>).</td>\n</tr>\n</tbody>\n</table>\n</div>\n\n##### Options\n\n(1) `display` available values: `inline` (default) or `popup`.\n(2) `language` available values: `en` (English), `pt_PT` (Portuguese) or `es_ES` (Spanish). If left `undefined`, a default language will be selected according to the customer's browser language.\n\n#### Return:\n\n-   A `CheckoutInstance` object, containing the following method:\n    -   `unmount()`: Removes all Checkout form content and event listener.\n\n<br>\n\n#### Success handler:\n\n`onSuccess(checkoutInfo)`\n\nReceives an object with the following properties:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table three-columns\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>id</code></td>\n      <td><code>string</code></td>\n      <td>The id of the Checkout session.</td>\n    </tr>\n    <tr>\n      <td><code>type</code></td>\n      <td><code>string</code></td>\n      <td>The payment type for this Checkout (<code>'single'</code>, <code>'frequent'</code> or <code>'subscription'</code>).</td>\n    </tr>\n    <tr>\n      <td><code>payment</code></td>\n      <td><code>Object</code></td>\n      <td>Detailed information about the payment.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\nProperties of the `payment` Object:\n\n**Note**: Some properties only appear with certain payment methods.\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Method</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>id</code></td>\n      <td>All</td>\n      <td><code>string</code></td>\n      <td>The payment's id.</td>\n    </tr>\n    <tr>\n      <td><code>method</code> (1)</td>\n      <td>All</td>\n      <td><code>string</code></td>\n      <td>The payment method chosen by the customer.</td>\n    </tr>\n    <tr>\n      <td><code>status</code> (2)</td>\n      <td>All</td>\n      <td><code>Object</code></td>\n      <td>The status of the payment.</td>\n    </tr>\n    <tr>\n      <td><code>value</code></td>\n      <td>All</td>\n      <td><code>number</code></td>\n      <td>The order value, rounded to two decimal places. Not used in <code>frequent</code> payments.</td>\n    </tr>\n    <tr>\n      <td><code>cardType</code></td>\n      <td>Credit Card</td>\n      <td><code>string</code></td>\n      <td>The credit card type (<code>'VISA'</code> or <code>'MasterCard'</code>).</td>\n    </tr>\n    <tr>\n      <td><code>lastFour</code></td>\n      <td>Credit Card</td>\n      <td><code>string</code></td>\n      <td>The last four digits of the credit card.</td>\n    </tr>\n    <tr>\n      <td><code>cardCountryCode</code></td>\n      <td>Credit Card</td>\n      <td><code>string</code></td>\n      <td>The country code of the credit card.</td>\n    </tr>\n    <tr>\n      <td><code>expirationDate</code> (3)</td>\n      <td>Credit Card / Multibanco</td>\n      <td><code>string</code></td>\n      <td>The expiration date of the card (Credit Card) or the payment (Multibanco).</td>\n    </tr>\n    <tr>\n      <td><code>entity</code></td>\n      <td>Multibanco</td>\n      <td><code>string</code></td>\n      <td>The Multibanco entity.</td>\n    </tr>\n    <tr>\n      <td><code>reference</code></td>\n      <td>Multibanco</td>\n      <td><code>string</code></td>\n      <td>The Multibanco reference.</td>\n    </tr>\n    <tr>\n      <td><code>sddMandate</code> (4)</td>\n      <td>Direct Debit</td>\n      <td><code>Object</code></td>\n      <td>SEPA Direct Debit mandate.</td>\n    </tr>\n    <tr>\n      <td><code>iban</code></td>\n      <td>Virtual IBAN</td>\n      <td><code>string</code></td>\n      <td>The created IBAN.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\n(1) Possible method values are the same as in the [Checkout creation](/checkout/reference#create-checkout-session).\n\n(2) Possible payment status values:\n\n<details><summary>Expand</summary>\n\n-   `'authorised'`\n-   `'deleted'`\n-   `'enrolled'`\n-   `'error'`\n-   `'failed'`\n-   `'paid'`\n-   `'pending'`\n-   `'success'`\n-   `'tokenized'` (To be Used later in `frequent` payments.)\n-   `'voided'`\n</details>\n\n(3) Format of the expiration varies between Credit Card (`'MM/YY'` format) and Multibanco (`'Y-m-d H:i'`).\n\n(4) Properties of the `sddMandate` Object:\n\n<details><summary>Expand</summary>\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table three-columns\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>accountHolder</code></td>\n      <td><code>string</code></td>\n      <td>Name of the account holder.</td>\n    </tr>\n    <tr>\n      <td><code>billingEntity</code></td>\n      <td><code>string</code></td>\n      <td>The billing entity for the payments.</td>\n    </tr>\n    <tr>\n      <td><code>countryCode</code></td>\n      <td><code>string</code></td>\n      <td>Country code of the bank account.</td>\n    </tr>\n    <tr>\n      <td><code>email</code></td>\n      <td><code>string</code></td>\n      <td>The customer's e-mail address.</td>\n    </tr>\n    <tr>\n      <td><code>iban</code></td>\n      <td><code>string</code></td>\n      <td>The IBAN.</td>\n    </tr>\n    <tr>\n      <td><code>id</code></td>\n      <td><code>string</code></td>\n      <td>The mandate's id.</td>\n    </tr>\n    <tr>\n      <td><code>maxNumDebits</code></td>\n      <td><code>string</code></td>\n      <td>The maximum number of debits allowed for this Direct Debit.</td>\n    </tr>\n    <tr>\n      <td><code>name</code></td>\n      <td><code>string</code></td>\n      <td>The customer's name. May be different from the account holder's name.</td>\n    </tr>\n    <tr>\n      <td><code>phone</code></td>\n      <td><code>string</code></td>\n      <td>The customer's phone number.</td>\n    </tr>\n    <tr>\n      <td><code>referenceAdc</code></td>\n      <td><code>string</code></td>\n      <td>The authorization reference.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\n</details>\n\n<br>\n\n#### Error handler:\n\n`onError(error)`\n\nReceives an object with the following property:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>code</code></td>\n      <td><code>string</code></td>\n      <td>The type of error that occurred. See the table below for possible values.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\nThe error `code` has the following possible values and recommended solutions:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table three-columns\">\n  <thead>\n    <tr>\n      <th>Value</th>\n      <th>Cause</th>\n      <th>Recommended solution</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>checkout-expired</code></td>\n      <td>The Checkout session has expired.</td>\n      <td>Create a new Checkout session with the server-to-server call and use the newly returned Manifest to instantiate a new Checkout form.</td>\n    </tr>\n    <tr>\n      <td><code>already-paid</code></td>\n      <td>The Checkout was already paid.</td>\n      <td>Refresh the order information and confirm that it was paid. Give feedback to the user accordingly.</td>\n    </tr>\n    <tr>\n      <td><code>checkout-canceled</code></td>\n      <td>The Checkout was canceled.</td>\n      <td>Create a new Checkout session with the server-to-server call and use the newly returned Manifest to instantiate a new Checkout form.</td>\n    </tr>\n    <tr>\n      <td><code>generic-error</code></td>\n      <td>There was an error before the payment process had started.</td>\n      <td>Allow the user to try again. If problem persists, report it to easypay.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\n<br>\n\n#### Payment error handler:\n\n`onPaymentError(error)`\n\nSignals the occurrence of a recoverable error during a payment attempt. These errors are informative and for logging/analysis purposes, as the user is allowed (and encouraged) to try the payment again with the same or other payment method.\n\nReceives an object with the following properties:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table three-columns\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>code</code></td>\n      <td><code>string</code></td>\n      <td>The type of error that occurred. See the table below for possible values.</td>\n    </tr>\n    <tr>\n      <td><code>paymentMethod</code></td>\n      <td><code>string</code></td>\n      <td>The payment method for which the error happened.</td>\n    </tr>\n    <tr>\n      <td><code>checkout</code></td>\n      <td><code>object</code></td>\n      <td>On <code>payment-failure</code> errors, the Checkout object containing the payment information that had already been created. Has the same properties as the <a href=\"/checkout/reference#success-handler\">onSuccess</a> <code>checkoutInfo</code> object.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\nThe error `code` has the following possible values and recommended solutions:\n\n<div class=\"ep-table-container\">\n<table class=\"ep-table three-columns\">\n  <thead>\n    <tr>\n      <th>Value</th>\n      <th>Cause</th>\n      <th>Recommended solution</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><code>generic-error</code></td>\n      <td>There was an error before the payment process had started.</td>\n      <td>Allow the user to try again. If problem persists, report it to easypay.</td>\n    </tr>\n    <tr>\n      <td><code>payment-failure</code></td>\n      <td>There was an error after the payment process had started.</td>\n      <td>Allow the user to try again. If problem persists, use the attached <code>checkout</code> object to get details about the payment intent.</td>\n    </tr>\n  </tbody>\n</table>\n</div>\n\n#### Examples of each appearance property\n\n##### Changing the logo\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    logoUrl: \"www.example.com/mylogo.png\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withlogo.png)\n\n##### Changing the background color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    backgroundColor: \"#222222\",\n});\n```\n\nThe text colors are automatically adjusted to shades of black or white depending on the background color, in order to achieve the best contrast possible.\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbgcolor.png)\n\n##### Changing the accent color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    accentColor: \"#ffa861\",\n});\n```\n\nThe text colors (over the accent, such as in buttons) are automatically adjusted to black or white, in order to achieve the best contrast possible.\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withaccentcolor.png)\n\n##### Changing the error color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    errorColor: \"#d18800\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/witherrorcolor.png)\n\n##### Changing the input background color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    inputBackgroundColor: \"#001f3d\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputbgcolor.png)\n\n##### Changing the input border color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    inputBorderColor: \"#000000\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputbordercolor.png)\n\n##### Changing the input border radius\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    inputBorderRadius: 0,\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withinputborderradius.png)\n\n##### Using non-floating labels\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    inputFloatingLabel: false,\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withoutfloatinglabels.png)\n\n##### Changing button background color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    buttonBackgroundColor: \"#000000\",\n});\n```\n\nThe button text color is automatically adjusted to black or white, in order to achieve the best contrast possible.\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbuttonbgcolor.png)\n\n##### Changing button text color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    buttonTextColor: \"#000000\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbuttontextcolor-v1.0.0.png)\n\n##### Changing button border radius\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    buttonBorderRadius: 0,\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withbuttonborderradius.png)\n\n##### Disabling button box-shadow\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    buttonBoxShadow: false,\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withoutbuttonboxshadow.png)\n\n##### Changing link color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    linkColor: \"#000000\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withlinkcolor-v1.0.0.png)\n\n##### Changing stepper text color\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    stepperTextColor: \"#000000\",\n});\n```\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withsteppertextcolor-v1.0.0.png)\n\n##### Changing font family\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    fontFamily: \"cursive\",\n});\n```\n\nThe `fontFamily` property can have three types of values:\n\n-   Generic family name (e.g. `'sans-serif'`, `'serif'`, `'cursive'`)\n-   Web safe font (e.g. `'arial'`, `'verdana'`)\n-   Web font URL (e.g. `'https://fonts.gstatic.com/s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPbM5qKl8Kuo8AzesE.woff2'`, must include the protocol `http`/`https`)\n\nOutcome:\n\n![Checkout](https://easypay-cdn-delivery.s3.eu-central-1.amazonaws.com/docs/checkout/withfontfamily.png)\n\n##### Changing base font size\n\n```js\nconst checkoutInstance = easypayCheckout.startCheckout(manifest, {\n    baseFontSize: 8,\n});\n```\
[...]
